.Navigation {
  float: right;
  margin-top: 25px;
  margin-right: 5px;

  a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: black;
    padding-bottom: 5px;
    font-size: 15px;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: -2px;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #358ed7;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }

    &.active{
        color:#358ed7;
    }

    &.active:after{
        width: 100%;
      left: 0;
    }
  }

}

@media (max-width: 1024px) {
  .Navigation {
    display: none;
  }
}
