.swiper-slide-active{
    transform:scale(1)!important;
    z-index:10;
}

.swiper-button-prev, .swiper-button-next{
    color:#ffffffa8;
}

.pagination-swiper {
    position: relative;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.pagination-swiper .swiper-pagination-bullet{
    width:13px;
    height: 13px;
    margin:35px 5px 10px 5px;
}