.Clanci {
  padding-top: 60px;
  cursor: pointer;
  max-width: 1200px;
  margin: 0 auto;

  .naslov {
    font-size: 38px;
  }

  .podela {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }
}
