.Clanci {
    padding-top: 60px;

    .naslov{
        font-size: 50px;
        margin:33.5px 0;
        margin-left: 40px;
    } 
  
    .podela {
      display: grid;
      grid-template-columns: 7fr 3fr;
  
      
    }
  }
  