.KategorijaView {
  padding-top: 60px;
  max-width: 1200px;
  margin: 0 auto;

  .podela {
    display: grid;
    grid-template-columns: 7fr 3fr;

    .glavno {
      .linkovi {
        width: 90%;
        margin: 30px auto;

        .link {
          display: flex;
          align-items: center;

          .dot {
            width: 10px;
            height: 10px;
            background: #c6ccd2;
            border-radius: 50%;
            margin-right: 40px;
            margin-left: 5px;
          }

          a {
            color: #34495e;
            font-size: 20px;
            margin: 8px 0;
            text-decoration: none;
            border-bottom: 1px solid #34495e;
          }
        }
      }
    }
  }
}
